<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-1">
      <a [routerLink]="['/customer']"></a>

      <form [formGroup]="CustomerForm"  (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="userName">User Name:</label>
          <input type="text" id="userName" formControlName="userName" class="form-contrl"><br>
           <span *ngIf="!CustomerForm.get('userName').valid && CustomerForm.get('userName').touched"
           class="help-block">Please enter valid userName </span>
         </div>

        <div class="form-group">
          <label for="Phnumber">Mobile No:</label>
          <input type="text" id="Phnumber" formControlName="Phnumber" class="form-contrl">
          <span *ngIf="!CustomerForm.get('Phnumber').valid && CustomerForm.get('Phnumber').touched"
          class="help-block">Please enter valid 10 digit Mobile number </span>
        </div>

        <h4>Gender</h4> 
        <div class="radio" *ngFor="let gender of genders">
          <label> 
             <input type="radio" name="gender" ngModel [value]="gender" 
             [ngModelOptions]="{standalone: true}">{{ gender }}
          </label><br>
        </div><br>

        <div class="form-group">
          <label for="account">Account Type: </label>
          <select id="accountType" formControlName="accountType" class="form-control">
              <option value="Savings">Savings</option>
              <option value="Current">Current</option>
              <option value="Salary">Salary</option>
           </select>
         </div><br>
        <h4>Address:</h4>
        <div class="col" formGroupName="Address">
          <label for="HouseNo">House No:</label>
          <input type="number" id="HouseNo" formControlName="HouseNo" class="form-contrl"><br>
          <span *ngIf="!CustomerForm.get('Address.HouseNo').valid && CustomerForm.get('Address.HouseNo').touched"
            class="help-block">Please enter Valid House Number </span>
          <label for="Area">Area:</label>
          <input type="text" id="area" formControlName="area" class="form-contrl"><br>
          <label for="pincode">Postal Code:</label>
          <input type="number" id="pincode" formControlName="pincode" class="form-contrl"><br>
          <label for="District">District:</label>
          <input type="text" id="District" formControlName="district" class="form-contrl"><br>
        </div>
        <div class="col-xs-12 col-sm-4">
          <router-outlet></router-outlet>
        </div><br>
       
        <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 10px;">
          <button class="btn1" type="submit" (click)="onReset()">Cancel</button>
          <button class="btn2 btn-primary" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
  
</div>